@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

$primaryFont: 'Josefin Sans', sans-serif;

// Colour Palette 

$brightBlue: #3a7bfd;
$checkBg: linear-gradient(hsl(192, 100%, 67%) to hsl(280, 87%, 65%));

// Light theme 
$veryLightGray: #fafafa;
$veryLightGrayishBlue: #e4e5f1;
$lightGrayishBlueLight: #d2d3db;
$darkGrayishBlue: #9394a5;
$veryDarkGrayishBlue: #484b6a;
$darkBlue: #494C6B;

// Dark Theme

$veryDarkBlue: #161722;
$veryDarkDesaturatedBlue: #25273c;
$lightGrayishBlueDark: #cacde8;
// hsl(236, 33%, 92%) (Hover)
$darkGrayishBlueDark: #777a92;
$veryDarkGrayishBlueDark1: #4d5066;
$veryDarkGrayishBlueDark2: #393a4c;