@import '../../assets/scss/main';

.todoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #E3E4F1;
    padding: 10px 20px;
    height: 64px;

    p {
        margin-left: 20px;
        color: $darkBlue;
    }

    .checked {
        text-decoration: line-through;
        color: #D1D2DA;
    }
}