@import '../../assets/scss/main';

.todoList {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 4px 4px 100px rgba(0, 0, 0, 0.1);
    background-color: white;

    .todoList__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
}