@import '../../assets/scss/main';

.todoList {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    border-radius: 5px;
    box-shadow: 4px 4px 100px rgba(0, 0, 0, 0.1);

    .todoList__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        height: 64px;

        @media screen and (max-width: 500px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        p {
            color: #9495A5;
            font-size: 0.8rem;

            @media screen and (max-width: 500px) {
                display: none;
            }
        }

        .footer__todoStates {
            display: flex;
            flex-direction: row;
            align-items: center;

            .filters {
                margin: 0 10px;
                font-weight: 700;
                // color: #9495A5;
                font-size: 0.8rem;
                cursor: pointer;
            }

            .active {
                color: $brightBlue;
            }
        }

        .clearTodosBtn {
            @media screen and (max-width: 500px) {
                display: none;
            }
        }

        // button {
        //     color: #9495A5;
        //     font-size: 0.8rem;
        //     background: none;
        //     border: none;
        //     outline: none;
        //     cursor: pointer;
        // }
    }
}