@import '../../assets/scss/main';

.navbar {
    width: 100%;
    height: 33vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    .navbar__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 100px;

        h1 {
            color: white;
            letter-spacing: 0.2em;
            font-size: 1.8rem;
            text-transform: uppercase;
        }

        p {
            color: white;
        }

        img {
            cursor: pointer;
        }
    }
}