@import '../../assets/scss/main';

.navbar {
    width: 100%;
    height: 14vh;
    background-image: url('../../assets/imgs/bg-desktop-light.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .navbar__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        margin: 0 auto;
        padding-top: 50px;

        h1 {
            color: white;
            letter-spacing: 0.2em;
            font-size: 1.8rem;
            text-transform: uppercase;
        }

        p {
            color: white;
        }
    }
}